---
import { ServiceCard, ServicesCard } from "@/components/ui";
import House from "@/assets/icons/house.svg";
import Commercial from "@/assets/icons/commercial.svg";
import Lightning from "@/assets/icons/lightning.svg";
import Ev from "@/assets/icons/ev.svg";
import Bulb from "@/assets/icons/bulb.svg";
import Gallery from "./Gallery.tsx";

const services = [
  {
    icon: House,
    title: "Residential Services",
    description:
      "Safe, efficient, and modern electrical solutions for homes of all sizes from panel upgrades to lighting installations.",
  },
  {
    icon: Commercial,
    title: "Commercial & Industrial Services",
    description:
      "Robust electrical systems built to handle high-demand environments, ensuring safety, performance, and reliability for industrial facilities.",
  },
  {
    icon: Lightning,
    title: "Emergency Services",
    description:
      "Rapid response to urgent electrical issues, minimizing downtime and restoring safety with dependable 24/7 service.",
  },
];

const servicesCard = [
  {
    title: "Electrical Upgrades & Repairs",
    description:
      "Keep your system safe and up to code with expert panel upgrades, rewiring, and repairs.",
    link: "/services",
    icon: Lightning,
  },
  {
    title: "Smart Tech & Energy Solutions",
    description:
      "Stay connected and efficient with EV charger installs, smart home automation, and energy-saving upgrades.",
    link: "/services",
    icon: Ev,
  },
  {
    title: "Lighting Installation & Design",
    description:
      "From elegant chandeliers to efficient LED and outdoor lighting we do it all.",
    link: "/services",
    icon: Bulb,
  },
  {
    title: "Commercial & Industrial Services",
    description:
      "Scalable electrical systems for commercial spaces, warehouses, and large-scale operations.",
    link: "/services",
    icon: Commercial,
  },
];
---

<section class="max-w-7xl mx-auto px-4 py-20">
  <!-- Heading -->
  <div class="text-center mb-12">
    <h2>Our Services</h2>
    <p class="text-foreground-muted">
      Explore our range of professional electrical services designed to power
      homes, businesses, and everything in between.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- Service Cards -->
    {
      services.map((service) => (
        <ServiceCard
          icon={service.icon}
          title={service.title}
          description={service.description}
        />
      ))
    }
  </div>

  <Gallery
    client:only
    images={["/hero.jpg", "/charger.png", "/chandelier.jpg"]}
  />

  <!-- Services Card -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-20">
    {
      servicesCard.map((card) => (
        <ServicesCard
          title={card.title}
          description={card.description}
          link={card.link}
          icon={card.icon}
        />
      ))
    }
  </div>
</section>
